

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h2 {
    color: orange;
    justify-content: center;
    display: flex;  
    align-items: center;
    font-weight: 600;
    
}

h5 {
    justify-content: center;
    display: flex;  
    align-items: center;
    
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    border: 3px orange solid;
  }

  img {   
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    
  }

  .photo{
    justify-content: center;
    display: flex; 
    align-items: center;
}

table {
  border-collapse: collapse;
  justify-content: center;
    display: flex; 
    align-items: center;
}

td, th /* Mettre une bordure sur les td ET les th */ {
  border: 2px solid black;
}

@media screen and (min-width: 1200px){
  


}