

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Element globale */


h2 {
    color: orange;
    justify-content: center;
    display: flex;  
    align-items: center;
    font-weight: 600;
    
}

h5 {
    justify-content: center;
    display: flex;  
    align-items: center;
    
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    border: 4px orange solid;
    padding: 20px;
  }

  img {   
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    
  }

  .avatar{
    justify-content: center;
    align-items: center;
    display: flex; 

  }

/* Tableau */

table {
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
  display: flex; 
  
}

td, th {
  border: 2px solid black;
}

/* Bouton GitHub et Linkedin */

.button {
  color:#0A66C2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  justify-content: space-between;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #181717;
}

.button:hover svg path {
  fill: #181717;
}

footer {
  display: flex;
  justify-content: center;
 
  
}

.boutons-footer{

  display: flex;
  gap: 20px;
  
}

p{
  font-size: 32px;
  color: orange;
}

/*Desktop*/

@media screen and (min-width: 1200px){
  /*fond gradient*/

  body
   {
    background: linear-gradient(106deg, #ffda95, #00ffa5, #a500ff);
    background-size: 600% 600%;

    -webkit-animation: Gradient-site 30s ease infinite;
    -moz-animation: Gradient-site 30s ease infinite;
    animation: Gradient-site 30s ease infinite;

    border: 6px white solid;
    
	  
	  
}

@-webkit-keyframes Gradient-site {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Gradient-site {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Gradient-site {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h2 {
  color: white;
  justify-content: center;
  display: flex;  
  align-items: center;
  font-weight: 600;
  
}

h1 {
color:white;
justify-content: center;
display: flex;  
align-items: center;
font-weight: 600;

}

td, th {
  width: 15%;
  border: 4px solid white;
  letter-spacing: 2px;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}

/*Animation d'écriture*/

.line {
	position: relative;
	width: 16em;
	top: 50%;
	margin: auto;
	border-right: 2px solid rgba(255, 255, 255, 0.75);
	font-size: 35px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
  color:white
}

.anim-typewriter {
	animation: typewriter 1s steps(40) 1s 1 normal both,
	blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
	from {
		width:0;
	}
	to {
		width: 8em;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: rgba(255, 255, 255, 0.75);
	}
	to {
		border-right-color: transparent;
	}

  
}

/*Image flottante*/

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.container{
  width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatar {
  justify-content: center;
  display: flex;  
  align-items: center;
	width: 200px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
  
	
}	


}