

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1 {
    color: orange;
    justify-content: center;
    display: flex;  
    align-items: center;
    
}

h5 {
    justify-content: center;
    display: flex;  
    align-items: center;
    
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 3px orange solid;
  }

  img {   
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    
  }

  .photo{
    justify-content: center;
    display: flex; 
    align-items: center;
}


